node_modules
.turbo
*.tsbuildinfo

# Windows alternate data stream artifacts
*Zone.Identifier*

# env files
.env
.env.*
!.env.example


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
