@use '../base/variables' as *;

.button {
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;

  &--default {
    background-color: $white;
    padding: 10px 20px;
    // font-weight: 700;
    color: $black;

    &:hover {
      background-color: $error;
      color: $white;
    }
  }

  &--secondary {
    // background-color: $white;
    padding: 10px 20px;
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $error;
      border-color: $error;
      color: $white;
    }
  }

  &--google {
    background-color: $white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:hover {
      background-color: $error;
      color: $white;
    }
  }

  &--icon {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  &--danger {
    background-color: $danger;
    color: $white;

    &:hover {
      background-color: $danger-dark;
    }
  }

  &--add {
    align-items: center;
    gap: 10px;
    align-self: flex-start;
    border: 1px solid $white-20;
    color: $white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 11px 0;

    svg {
      fill: $white;
      color: $black;
    }

    &:hover {
      background-color: $error;
    }
  }

  &--help {
    background-color: $white-20;
    color: $white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    border-radius: 30px;
  }

  &--delete {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    height: 45px;
    width: 45px;

    svg {
      color: $white;
    }

    &:hover {
      // background-color: $danger-dark;
    }
  }

  &--map {
    align-items: center;
    gap: 6px;
    font-weight: 500;
    background: transparent;
    color: white;
    font-size: 13px;

    &-icon {
      width: 14px;
      height: 14px;
    }

    span {
      // text-decoration: underline;
    }
  }

  &:disabled {
    background-color: $gray-300;
    color: $white;
    cursor: not-allowed;
  }
}
