@use '../abstracts/mixins' as *;
@use '../base/variables' as *;

.content {
  position: relative;
  z-index: 1;

  &--event {
    padding: 100px 0;

    &__container {
      @include container;
      display: flex;
      gap: 80px;
    }

    &__main {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &__sidebar {
      position: sticky;
      top: 20px;
      align-self: flex-start;
      width: 100%;
      max-width: 460px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}
