@use '../abstracts/mixins' as *;
@use '../base/variables' as *;

.create {
  &--default {
    @include container;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0;
    position: relative;

    &__header {
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 100%;
      margin: 0 auto;
      max-width: 700px;

      &__step {
        font-size: 16px;
        color: $white-50;
        text-transform: uppercase;
      }

      &__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 900;
      }
    }

    &__content {
      width: 100%;
      margin: 0 auto;
      max-width: 700px;
    }

    &__steps {
      display: flex;
      gap: 20px;
      justify-content: space-between;

      &__step {
        flex: 1;
        background-color: $white-14;
        height: 6px;
        border-radius: 4px;

        &--active,
        &--completed {
          background-color: white;
        }

        span {
          display: none;
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
