@use '../abstracts/mixins' as *;
@use '../base/variables' as *;

.footer {
  &--default {
    // margin-top: 60px;
    padding: 20px 0;
    border-top: 1px solid $white-20;

    &__container {
      @include container;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    }

    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
    }

    &__legal {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      color: $white;

      a {
        color: $white;
      }

      font {
        size: 16px;
      }
    }
  }

  &--create {
    // margin-top: 60px;
    padding: 20px 0;
    border-top: 1px solid $white-20;

    &__container {
      @include container;
    }

    &__legal {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      color: $white;

      a {
        color: $white;
      }

      font {
        size: 16px;
      }
    }
  }

  &__top {
    border-top: 1px solid $white-20;
  }

  &__bottom {
    border-top: 1px solid $white-20;
  }
}
