@use '../abstracts/mixins' as *;
@use '../base/variables' as *;

.lightbox {
  z-index: 10;

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;

    svg {
      min-width: 20px;
    }

    &:hover {
      background-color: $gray-200;
    }
  }

  &--register {
    background-color: $white;
    max-width: 450px;
    padding: 40px 30px 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba($dark, 0.1);
    display: none;

    &.is-open {
      display: flex;
    }

    @media (max-width: $breakpoint-sm) {
      max-width: auto;
      margin: auto;
      right: 0;
      bottom: 0;
      margin: 20px;
      max-width: auto;
    }

    &__image {
      margin-right: 20px;

      img {
        min-width: 75px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      color: $dark;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 20px;
      color: $dark;
    }
  }

  &--cookies {
    z-index: 11;
    background-color: $white;
    max-width: 450px;
    padding: 40px 30px 30px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba($dark, 0.1);
    display: none;

    &.is-open {
      display: flex;
    }

    @media (max-width: $breakpoint-sm) {
      max-width: auto;
      margin: auto;
      right: 0;
      bottom: 0;
      margin: 20px;
      max-width: auto;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      color: $dark;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 20px;
      color: $dark;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &--site-checker {
    z-index: 11;
    background-color: $white;
    max-width: 650px;
    padding: 40px 30px 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba($dark, 0.1);
    display: none;

    &.is-open {
      display: flex;
    }

    @media (max-width: $breakpoint-sm) {
      max-width: auto;
      margin: auto;
      right: 0;
      bottom: 0;
      margin: 20px;
      max-width: auto;
    }

    &__title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
      color: $dark;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 20px;
      color: $dark;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      &__message {
        font-size: 13px;
        font-weight: 600;
      }

      button {
        max-width: 200px;
      }
    }
  }
}
