@use '../abstracts/animations';
@use '../base/variables' as *;

.loading {
  &--default {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    &__icon {
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
      color: #ff5b49;
    }
  }
}
